pkgbase = nordlayer
	pkgdesc = Proprietary VPN client for Linux
	pkgver = 3.4.0
	pkgrel = 1
	url = https://nordlayer.com
	install = nordlayer.install
	arch = x86_64
	license = custom:commercial
	depends = bash
	depends = libgcrypt
	depends = libgpg-error
	depends = libcap
	depends = hicolor-icon-theme
	depends = gmp
	depends = strongswan
	conflicts = nordvpnteams-bin
	replaces = nordvpnteams-bin
	options = !strip
	options = !emptydirs
	source_x86_64 = https://downloads.nordlayer.com/linux/latest/debian/pool/main/nordlayer_3.4.0_amd64.deb
	sha512sums_x86_64 = 2cd38847826874f4acac85d0c76e42c7bacb4fd451f05c427b651bdbaf5063d32633ed378a4ab095372aa311ab403e1ff93e151c11b97484516a2f9e7309f70f

pkgname = nordlayer
